{% extends 'slider/base.html' %}

{% block title %}
{% endblock %}

{% block extrahead %}
    <style>
        #uploadEnabledSwitch {
            scale: 2;
            margin: 10px 25px 0 -25px;
        }

        #uploadEnabledLabel {
            font-size: 20px;
            padding-top: 3px;
        }
    </style>
{% endblock %}

{% block content %}
    <h3>Picture Admin</h3>
    <div class="row mb-4">
        <div class="col">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="uploadEnabledSwitch">
                <label class="form-check-label" for="uploadEnabledSwitch" id="uploadEnabledLabel">
                    Uploads enabled</label>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

    <div class="toast-container position-fixed bottom-0 start-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>

    <script>
        const toastTrigger = document.getElementById('liveToastBtn'),
            toastLiveExample = document.getElementById('liveToast'),
            uploadEnabledSwitch = document.getElementById("uploadEnabledSwitch")

        uploadEnabledSwitch.checked = {{ settings.uploads_enabled|lower }}


        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
        toastTrigger.addEventListener('click', () => {
            toastBootstrap.show()
        })

        function postData(url, body) {
            return fetch(url, {
                method: "POST",
                body: body,
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            }).then(res => {return res.json()})
        }

        uploadEnabledSwitch.addEventListener("change", (e) => {
            postData("{% url 'set_upload-list' %}", e.target.checked).then(j => {
                uploadEnabledSwitch.checked = j.uploads_enabled
            })
        })

    </script>

{% endblock %}
