<!DOCTYPE html>{% load static %}{% load plausible %}
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>{{ settings.title }}</title>
        <meta property="og:title" content='{{ settings.title }}'/>
    {% endblock %}
    <meta property="og:description" content='{{ settings.description }}'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://slider.didnot.win/static/slider512.webp"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'slider32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'slider16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    {% if settings.offline %}
        <script src="{% static 'slider/bootstrap.5.3.3.bundle.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'slider/bootstrap.5.3.3.min.css' %}"/>
    {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
                integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
              integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {% endif %}
    {% block extrahead %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-custom navbar-expand-md navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'slider:index' %}">{{ settings.title }}</a>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

{% if not settings.offline %}
    {% plausible %}
{% endif %}

</body>
</html>
