{% extends 'slider/base.html' %}

{% block extrahead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"
            integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css"
          integrity="sha512-jU/7UFiaW5UBGODEopEqnbIAHOI8fO6T99m7Tsmqs2gkdujByJfkCbbfPSN4Wlqlb9TGnsuC0YgUgWkRBK7B9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block content %}

    <p>Your name in the field below is required to enable uploading.
        It will be visible in the picture slideshow.</p>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" autocomplete="off"
               placeholder="Author of images">
        <label for="floatingInput">Author of images</label>
    </div>

    <form id="dropzone" action="{% url 'slider:index' %}" method="post" class="dropzone" enctype="multipart/form-data"
          style="display: none">
        {{ form.author }}
        {% csrf_token %}
        <h5 class="dz-message" style="color: #567">Drop pictures here.<br/>Or click to choose from device.</h5>
    </form>

    <div class="fixed-bottom mb-2 me-4 text-end">
        <a href="https://github.com/T-101/slider">Github</a>
    </div>

    <script>
        Dropzone.options.dropzone = {
            "acceptedFiles": "image/*"
        }

        const form = document.querySelector("form")
        const author = document.querySelector("#id_author")
        const floatingInput = document.querySelector("#floatingInput")

        floatingInput.addEventListener("keyup", e => {
            form.style.display = (e.target.value.length > 0) ? "" : "none"
            author.value = e.target.value
        })
    </script>

{% endblock %}

