SECRET_KEY='NotAVeryGoodSecret'
DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
CSRF_TRUSTED_ORIGINS=https://localhost

TIME_ZONE="Europe/Helsinki"
DATABASE_URL=sqlite:///db.sqlite3

STATIC_ROOT=static
STATIC_URL=/static/
MEDIA_ROOT=media
MEDIA_URL=/media/
