[Unit]
Description=Slider Offline
After=graphical.target
Wants=graphical.target

[Service]
User=t101
Group=t101
ExecStartPre=/bin/bash -c '/usr/bin/unclutter -idle 0 &'
ExecStart=/bin/bash -c '/srv/slider/offline/slider.sh'
Environment=DISPLAY=:0
Restart=no

[Install]
WantedBy=graphical.target